body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #0f0f0f;
  color: white;
}

/* HEADER */
header {
  text-align: center;
  padding: 20px;
  background: #1a1a1a;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: center;
  background: #333;
}

nav a {
  color: blue;
  padding: 10px 20px;
  text-decoration: none;
}

nav a:hover {
  background: red;
}

/* CONTAINER */
.container {
  padding: 30px;
  text-align: center;
}

/* GAMBAR */
.gambar {
  width: 200px;
  border-radius: 10px;
  margin: 10px 0;
}

/* BUTTON */
button {
  padding: 10px 20px;
  background: white;
  border: none;
  color: rgb(8, 0, 255);
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: black;
}

/* LIST */
ul {
  list-style: none;
  padding: 0;
}

li {
  background: #222;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 10px;
  background: #1a1a1a;
}
